.home-banner {
    background: url('/assets/admin/home-banner.webp') no-repeat center center;
    background-size: cover;
    padding: 100px 0;
    height: 38em;
}

.home-banner-caption h1 {
    color: #EF2231;
    font-size: 42px;
    font-weight: bold;
}

.home-banner-caption {
    background-color: rgba(244, 236, 225, 0.5);
    width: 70%;
    padding: 40px;
}