.home-categories .overflow-auto::-webkit-scrollbar {
    display: none;
}

.home-categories .overflow-auto {
    -ms-overflow-style: none;

    scrollbar-width: none;

}

.category-scroll::-webkit-scrollbar {
    display: none;
}

.category-scroll {
    -ms-overflow-style: none;

    scrollbar-width: none;

}